footer {
    padding: 60px 0px;
    background: #000410;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-wrap: wrap;

    @media (max-width: 927px) {
        flex-direction: column;
        align-items: center;
    }

    .about-me {
        max-width: 400px;
        padding: 0 15px;

        @media (max-width: 927px) {
            text-align: center;
        }


        h3 {
            color: #fff;
            font-size: 18px;
            font-weight: bold;
            font-family: $family-secondary;
            text-transform: uppercase;
        }

        p {
            @include p;
            margin-top: 20px;
        }
    }

    .newsletter {
        position: relative;
        padding: 0 15px;


        @media (max-width:927px) {
            text-align: center;
            margin: 30px 0;
        }

        h3 {
            color: #fff;
            font-size: 18px;
            font-weight: bold;
            font-family: $family-secondary;
            text-transform: uppercase;
        }

        p {
            @include p;
            margin:20px 0 10px 0;
        }

        .newsletter-box {
            position: relative;
            
            input[type="email"] {
                width: 350px;
                height: 38px;
                border: 1px solid #eee;
                padding: 0 15px;
                font-size: 14px;
                line-height: 1.6;
                color: #222;

                &::placeholder {
                    color: #616060e1;
                }

                @media (max-width: 397px) {
                    width: 270px;
                }
            }

            button {
                height: 38px;
                width: 50px;
                background-image: linear-gradient(to right, #8490ff 0%, #62bdfc 48%, #8490ff 100%);
                background-size: 200% auto;    
                border: none;
                position: absolute;
                right: 0px;
                cursor: pointer;

                .fas {
                    color: #fff;
                    font-size: 16px;
                }
            }
        }
    }

    .follow-me {
        padding: 0 15px;

        @media (max-width:927px) {
            text-align: center;
        }

        h3 {
            color: #fff;
            font-size: 18px;
            font-weight: bold;
            font-family: $family-secondary;
            text-transform: uppercase;
        }

        p {
            @include p;
            margin-top: 5px;
        }

        .social-media {
            .fab {
                color: #fff;
                font-size: 14px;
                margin: 15px 5px;
                transition: all 0.3s;

                &:hover {
                    color: #8490FF;
                }
            }
        }
    }
}